/*---------------------------------------*/
/* BASIC SETUP*/
/*---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color:#555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.clearfix{zoom:1}
.clearfix:after{
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*---------------------------------------*/
/* REUSABLE COMPONENTS.*/
/*---------------------------------------*/
.rows{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding:80px 0;
}
/*-----------------HEADINGS----------------------*/
h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    margin:0;
    margin-bottom: 20px;
    color:white;
    font-size: 150%;
    word-spacing: 3px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
h2{
    font-size:100%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/*------------------PARAGRAPHS---------------------*/
.long-copy {
    line-height: 145%;
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}

.section-features .long-copy{
    margin-bottom: 30px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url('http://www.okonjima.com/userfiles/image/high_resolution/legacy/villa/17vdeck.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.hero-text-box {
    position: absolute;
    width: 1000px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.box{
    padding: 1%;
}
/*------------------ICONS---------------------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
}
/*-------------links--------------------------*/


/*-------------BUTTONS--------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited {
    background-color: #e67322;
    border: 1px solid #e67322;
    color:white;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67322;
    color:#e67322;
}
.btn:hover, .btn:active {
    background-color:#cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color:white;
}

.logo{
    height: 100px;
    width:auto;
    float: left;
    margin-top:10px;
}
.nav {
    position: fixed;
    top: 0;
    background: transparent;
    width: 100%;
    z-index: 10;
    padding-bottom:10px;
}

.navMain ul li {
    display: inline-block;
}

ul.header-nav li{
    display: inline;
}

.header-nav a:link,
.header-nav a:visited{
    margin-top:40px;
    float:right;
    color: white;
    text-decoration: none;
    margin-left: 50px;
}
.header-nav a:hover,
.header-nav a:active{
    padding-bottom: 1px;
    border-bottom: 1px solid orange;

}

img.globe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------------------------*/
/* CONTACT US SECTION.*/
/*---------------------------------------*/

.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url('https://github.com/uahengojr/NCA-Web-App/blob/master/Pics%20on%20Namibia/Windhoek.jpg?raw=true');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
    text-align:left;
}

#form-main{
    width:100%;
    padding-top:0px;
	margin-bottom: 0px;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:35px;
    width: 450px;
	margin-left: auto;
	margin-right: auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: white;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Conatct Us Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}
/*
@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
*/
}
